package ${packageName}.controller.${businessName}.vo;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
#if($templateType != 2)
import lombok.EqualsAndHashCode;
import com.nexus.framework.mybatis.entity.BasePageQuery;
#end
import org.springframework.format.annotation.DateTimeFormat;
import java.time.LocalDateTime;

import static com.nexus.framework.common.util.DateUtils.FORMAT_YEAR_MONTH_DAY_HOUR_MINUTE_SECOND;

/**
#if($templateType == 2)
 * ${classComment} 列表 Request VO
#else
 * ${classComment} 分页 Request VO
#end
 *
 * @author ${author}
 * @since ${date}
 */
#if($templateType == 2)
#set($reqType = "List")
#else
#set($reqType = "Page")
#end
@Schema(description = "${classComment} ${reqType} Request VO")
@Data
#if($templateType != 2)
@EqualsAndHashCode(callSuper = true)
public class ${className}${reqType}ReqVO extends BasePageQuery {
#else
public class ${className}${reqType}ReqVO {
#end

#foreach ($column in $columns)
#if ($column.listOperation)
#if ($column.listOperationCondition == "LIKE")
    @Schema(description = "${column.columnComment}", example = "${column.example}")
    private String ${column.javaField};
#elseif ($column.listOperationCondition == "BETWEEN")
    @Schema(description = "${column.columnComment} - 开始时间", example = "2023-01-01 00:00:00")
    @DateTimeFormat(pattern = FORMAT_YEAR_MONTH_DAY_HOUR_MINUTE_SECOND)
    private LocalDateTime ${column.javaField}Start;

    @Schema(description = "${column.columnComment} - 结束时间", example = "2023-01-31 23:59:59")
    @DateTimeFormat(pattern = FORMAT_YEAR_MONTH_DAY_HOUR_MINUTE_SECOND)
    private LocalDateTime ${column.javaField}End;
#else
    @Schema(description = "${column.columnComment}", example = "${column.example}")
    private ${column.javaType} ${column.javaField};
#end
#end
#end
}

