package ${packageName}.controller.${businessName}.vo;

import com.alibaba.excel.annotation.ExcelIgnore;
import com.alibaba.excel.annotation.ExcelProperty;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
#if($hasLocalDateTime)
import java.time.LocalDateTime;
#end
#if($hasBigDecimal)
import java.math.BigDecimal;
#end
#if($templateType == 3)
import java.util.List;
import ${packageName}.dal.dataobject.${businessName}.${subTable.className}DO;
#end

/**
 * ${classComment} Response VO
 *
 * @author ${author}
 * @since ${date}
 */
@Schema(description = "${classComment} Response VO")
@Data
public class ${className}RespVO {

    @Schema(description = "ID", example = "1")
    @ExcelIgnore
    private Long id;
    
    @Schema(description = "创建时间")
    @ExcelIgnore
    private String dateCreated;
    
    @Schema(description = "更新时间")
    @ExcelIgnore
    private String lastUpdated;

#foreach ($column in $columns)
#if(!$column.primaryKey && $column.listOperationResult)
    @Schema(description = "${column.columnComment}", example = "${column.example}")
    @ExcelProperty("${column.columnComment}")
    private ${column.javaType} ${column.javaField};

#end
#end
#if($templateType == 3)
    @Schema(description = "${subTable.classComment}列表")
    private List<${subTable.className}DO> ${subTable.classNameFirstLower}s;
#end
}

