package ${businessPackageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${businessPackageName}.entity.${className};

/**
 * ${classComment} 服务接口
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${className}Service extends IService<${className}> {

}
