package ${packageName}.dal.dataobject.${subBusinessName};

import com.baomidou.mybatisplus.annotation.*;
import com.nexus.framework.mybatis.entity.BaseDO;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
#if($subHasLocalDateTime)
import java.time.LocalDateTime;
#end
#if($subHasBigDecimal)
import java.math.BigDecimal;
#end

/**
 * ${subClassComment} DO（子表）
 *
 * @author ${author}
 * @since ${date}
 */
@TableName("${subTableName}")
@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ${subClassName}DO extends BaseDO {

#foreach ($column in $subColumns)
#if(!$baseDOFields.contains($column.javaField))
    /**
     * ${column.columnComment}
     */
#if($column.primaryKey)
    @TableId(value = "${column.columnName}", type = IdType.AUTO)
#else
    @TableField("${column.columnName}")
#end
    private ${column.javaType} ${column.javaField};

#end
#end
}
