package ${packageName}.controller.${businessName}.vo;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;

#if($hasLocalDateTime)
import java.time.LocalDateTime;
#end
#if($hasBigDecimal)
import java.math.BigDecimal;
#end
#if($templateType == 3)
import java.util.List;
import ${packageName}.dal.dataobject.${businessName}.${subTable.className}DO;
#end

/**
 * ${classComment} Response VO
 *
 * @author ${author}
 * @since ${date}
 */
@Schema(description = "${classComment} Response VO")
@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
public class ${className}RespVO extends BaseRespVO {

    @Schema(description = "ID", example = "1")
    private Long id;

#foreach ($column in $columns)
#if(!$column.primaryKey && $column.listOperationResult)
    @Schema(description = "${column.columnComment}", example = "${column.example}")
    private ${column.javaType} ${column.javaField};

#end
#end
#if($templateType == 3)
    @Schema(description = "${subTable.classComment}列表")
    private List<${subTable.className}DO> ${subTable.classNameFirstLower}s;
#end
}

