<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.dal.mapper.${businessName}.${className}Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${packageName}.dal.dataobject.${businessName}.${className}DO">
#foreach($column in $columns)
#if($column.javaField != "dateCreated" && $column.javaField != "lastUpdated" && $column.javaField != "creator" && $column.javaField != "updater" && $column.javaField != "deleted" && $column.javaField != "tenantId")
        <result column="${column.columnName}" property="${column.javaField}" />
#end
#end
    </resultMap>

</mapper>

