<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.dal.mapper.${businessName}.${subTable.className}Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${packageName}.dal.dataobject.${businessName}.${subTable.className}DO">
#foreach($column in $subColumns)
#if($column.javaField != "dateCreated" && $column.javaField != "lastUpdated" && $column.javaField != "creator" && $column.javaField != "updater" && $column.javaField != "deleted" && $column.javaField != "tenantId")
        <result column="${column.columnName}" property="${column.javaField}" />
#end
#end
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO ${subTable.tableName} (
#set($insertColumns = [])
#foreach($column in $subColumns)
#if(!$column.primaryKey)
#set($added = $insertColumns.add($column))
#end
#end
#foreach($column in $insertColumns)
            ${column.columnName}#if($foreach.hasNext),#end
#end
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
#foreach($column in $insertColumns)
                #{item.${column.javaField}}#if($foreach.hasNext),#end
#end
            )
        </foreach>
    </insert>

</mapper>

