package ${packageName}.dal.mapper.${businessName};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.dal.dataobject.${businessName}.${className}DO;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${classComment} Mapper 接口
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}DO> {

}
